{{- $root := . }}
{{- $default := .Values.vault.defaults }}
{{- range $vkey, $vdata := .Values.vault.staticSecrets }}
{{- if $vdata.enabled }}
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ printf "%s-%s" (include "stdapp.fullname" $root) $vkey | trunc 63 | trimSuffix "-" }}
  labels:
    {{- include "stdapp.labels" $root | nindent 4 }}
spec:
  type: {{ $vdata.type | default $default.type | quote }}
  mount: {{ $vdata.mount | default $default.mount | quote }}
  path: {{ $vdata.path | quote }}
  destination:
    name: {{ printf "%s-%s" (include "stdapp.fullname" $root) $vkey | trunc 63 | trimSuffix "-" }}
    create: True
    type: {{ $vdata.destination_type | default $default.destination_type | quote }}
  refreshAfter: {{ $vdata.refreshAfter | default $default.refreshAfter | quote }}
  vaultAuthRef: {{ $vdata.vaultAuthRef | default $default.vaultAuthRef | quote }}
  {{- if or $vdata.rolloutRestart (and $default.rolloutRestart (not (hasKey $vdata "rolloutRestart" ))) }}
  rolloutRestartTargets:
  - name: {{ include "stdapp.fullname" $root }}
    kind: Deployment
  {{- end }}
---
{{- end }}
{{- end }}
