global:
  image:
    tag: 2.40

container:
  image:
    registry: registry.k8s.io
    repository: e2e-test-images/agnhost
  args: ["liveness"]

ports:
  http:
    enabled: True
    containerPort: 8080

probes:
  readiness:
    enabled: True
    path: /healthz
